*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-color: black;
	color: #fafafa;
}

#transformation, #animation
{
	margin-left: 5em;
}

.square
{
	background-color: #fafafa;
	width: 5vw;
	height: 10vh;
	padding: 2em;
	margin: 1em;
}

#translate
{
	transform: translate(200px, 0);
}

#rotate
{
	transform: rotate(45deg);
}

#scale
{
	transform: scaleX(2);
}

#lr-animation
{
	animation: lr_move 5s linear infinite;
}

@keyframes lr_move
{
	0%
	{
		transform: translateX(0);
	}
	
	50%
	{
		transform: translateX(50vw);
	}
	
	100%
	{
		transform: translateX(0);
	}
}
