*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-color: black;
	color: #fafafa;
}

#transformation, #animation, #transition
{
	padding: 2em 5em;
}

.square
{
	background-color: #fafafa;
	width: 5vw;
	height: 10vh;
	padding: 2em;
	margin: 1em;
}

#translate
{
	transform: translate(200px, 0);
}

#rotate
{
	transform: rotate(45deg);
}

#scale
{
	transform: scaleX(2);
}

#animation
{
	height: 65vh;
}

#lr-animation
{
	animation: lr_move 5s linear infinite;
}

@keyframes lr_move
{
	0%
	{
		transform: translate(0, 0);
	}

	10%
	{
		transform: translate(0, 40vh);
	}

	20%
	{
		transform: translate(0, 20vh);
	}
	
	30%
	{
		transform: translate(10vw, 20vh);
	}
	
	40%
	{
		transform: translate(10vw, 0);
	}

	50%
	{
		transform: translate(10vw, 40vh);
	}

	60%
	{
		transform: translate(10vw, 0);
	}

	70%
	{
		transform: translate(10vw, 20vh);
	}

	80%
	{
		transform: translate(0, 20vh);
	}

	90%
	{
		transform: translate(0, 40vh);
	}

	100%
	{
		transform: translate(0, 0);
	}
}

#width-transition
{
	transition: width 1s ease-out;
}

#width-transition:hover
{
	width: 50vw;
}
